html, body {
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
}


body {
  background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #555;
    opacity: 0.5;
  }
}