html, body {
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 0
  margin: 0
}


body {
  background-image: url('../images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #4d4d4d;
  font-smoothing: antialiased;
  font-weight: 300;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #999;
    opacity: 0.6;
  }
}